/* Reset default browser styles */
body{
  background-color: rgb(233, 251, 255);
}
.login-container{
  height: 600px;
  width: 50vw;
  border: 2px solid;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: rgb(234, 250, 255);
}
#loginForm{
  margin: 15px;
}
.heading{
  text-align: center;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;;
}

.details{
  display: block;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 5px;
  font-size: 20px;
}

input{
  height: 30px;
  width: 300px;
  font-family: "Quantico", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.login-container label{
  display: block;
  margin-bottom: 5px;
}

.para{
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}

.warning{
  color: red;
  font-size: 15px;
  visibility: hidden;
}

a{
  color: rgb(68, 68, 255);
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#submit{
  display: block;
  width: 150px;
  height: 60px;
  font-size: 30px;
  margin: auto;
}